.white {
  padding: 10px;
  margin: 10px;
  border: 2px solid #000;
  background-color: #f4cb80;
  color: #333;
  position: relative; 
}


.static {
  position: static;
  background: lightgray;
}

.relative {
  position: relative;
  top: 30px;
  background: lightblue;
}

.absolute {
  position: absolute;
  top: 200px;
  left: 50px;
  background: lightgreen;
}

.fixed {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: pink;
}

.sticky {
  position: sticky;
  top: 10px;
  background: orange;
}

.container1 {
  height: 200px;
  overflow-y: scroll;
}

.spacer {
  height: 300px;
}