/* Flex Container Styles */
.flex-container {
  height: 500px;
  border: 2px solid black;
  background-color: aqua;
  display: flex;                    /* #Enable Flexbox */
  flex-direction: row;              /* Direction Horizontally*/
  flex-wrap: wrap;              /*Wrap element for groing & shrink*/
  justify-content: center;      /*Distributes items evenly along the main axis */
  align-items: center;         /*Aligns items along the cross axis */
  gap: 10px;                     /*Adds spacing between items*/

  
}

.box {
  width: 200px;
  height: 100px;
  border: 1px solid black;
}

#box1{
  background-color: red;
  flex-grow: 0;
  order: 3;
}
#box2{
  background-color: blueviolet;
}
#box3{
  background-color: green;
  order: 1;
}
#box4{
  background-color: greenyellow;
  order: 2;
}
#box5{
  background-color: orangered;
  
}


.Grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);        /* 2 columns: Sidebar (200px) and Content (flexible width) */
  grid-template-rows: 100px 100px 100px 100px;       /* 3 rows: Header, Main, Footer */
  gap: 10px; /* Spacing between items */
  border: 2px solid burlywood;
}

#header{
  grid-column: 1 / -1; /* Start at the first column and span all columns */
  background-color: #6952e9;
  color: white;
  text-align: center;
  padding: 20px;
  font-size: 24px;
  font-weight: bold;
}
h2:hover{
  background-color: mediumseagreen;
}

#content {
  background-color: #e58f16;
  padding: 20px;
  grid-column: 2 / -1;
  
}

#nav {
  background-color: #d718f0;
  padding: 20px;
  grid-row: 2 / 4;
}

#product {
  background-color: #078a72;
  padding: 20px;
}

#prize {
  background-color: #40eb0c;
  padding: 20px;
}

#footer {
  grid-column: 1 / -1; /* Footer spans the full width as well */
  background-color: #f50bd1;
  color: white;
  text-align: center;
  padding: 10px;
}

h2::before {
  content: "🌟 "; /* Adds a star before the text */
  color: gold;
}

h2::after {
  content: " 🎉";      /* Adds a celebration emoji after the text */
  color: red;
}

h2::first-letter {
  font-size: 2em;
  color: red;
  font-weight: bold;
}








